//@use "../../../../core/assets/scss/2-atoms/_beam.scss";
$break0: 480px;
$break1: 720px;
$break2: 960px;
$break3: 1280px;
$break4: 1920px;

.hoz-scroll {
  display: grid;
  width: calc(100% + var(--base-unit));
  margin-left: calc(var(--base-unit--s) *-1);
  grid-gap: calc(var(--base-unit--s) / 2);
  grid-template-columns: var(--base-unit--s);
  grid-auto-flow: column;
  grid-auto-columns: calc(45% - var(--base-unit--s) * 2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding: var(--base-unit--s) 0;
  background-color: var(--clr-brand);

  input,
  select,
  textarea {
    background-color: var(--clr-bg);
  }
  &:before,
  &:after {
    content: '';
    width: var(--base-unit--s);
  }
}


.txp-actions {
  display: none; // breaks layout in its current position!
  //grid-area: actions;
}

#supporting_content {
  @extend .hoz-scroll;
  grid-area: support;
}


.messagepane>* { // demo only
  display: none;
}



// area names
#pane-text {
  grid-area: pane;
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
  text-wrap: balance;
}

.body {
  grid-area: body;
}

.excerpt {
  grid-area: excerpt;
}

.txp-layout-4col-alt {
  grid-area: support;
}

// .txp-dialog{
//   grid-area: dialog;
// }
.txp-save-zone {
  grid-area: save;
}

// #txp-write-sort-group {
//  grid-area: sort;
// }
//
// #txp-dates-group {
//   grid-area: dates;
// }
//
// #txp-categories-group {
//   grid-area: cats;
// }
//
// #txp-meta-group {
//   grid-area: meta;
// }
// #txp-comments-group {
//   grid-area: comments;
// }
#txp-image-group {
  grid-area: image;
}

#txp-custom-field-group {
  grid-area: custom;
}

#txp-recent-group {
  grid-area: recent;
}

.nav-tertiary {
  grid-area: extras;
}