@use "../2-atoms/beam";
.txp-form-field {
}

.txp-form-field-label {
  @extend %beam;
  justify-content: space-between;
  margin-bottom: var(--base-unit--s);
}

.txp-form-field-value {
}

.txp-textarea-options {
}

.textfilter-help {
  margin-inline-end: var(--base-unit);
}