@use "../2-atoms/beam";
.messagepane {
  // &:empty {
  //   display: none;
  // }
  position: relative;

}


.messageflash {
  @extend %beam !optional;
  padding: var(--base-unit--s) var(--base-unit);
  font-family: var(--serif);
  overflow: auto;
  strong {
    font-family: var(--sans);
  }
  &.success {
    background-color: var(--clr-success);
    color: var(--white);
  }
  &.warning {
    background-color: var(--clr-warning);
  }

  &.error {
    background-color: var(--clr-error);
    color: var(--white);
  }

  .close {
    position: absolute;
    right: var(--base-unit);
    top: var(--base-unit--s);
  }
}
