//_m_txp-details.scss
@use "../2-atoms/beam";

.txp-details {
  .hidden {
    display: none;
  }

  &:has(.expanded) {
    margin-bottom: var(--base-unit--b);
  }

  .toggle {
    @extend %beam !optional;
    gap: var(--base-unit) var(--base-unit--s);

    >div {
      position: relative;
      //width: max-content;
    }
  }

  [type="checkbox"] {
    margin-inline-end: var(--base-unit--ss);
  }

  .date {
    margin-bottom: var(--base-unit);
  }

  .time,
  .comment-annotate {
    margin-bottom: var(--base-unit--s);
  }

  .reset-time {
    display: flex;
    text-wrap: balance;
  }
}

.txp-summary {

  //margin-bottom: var(--base-unit--s);
  a {
    text-decoration: none;

    &:before {
      font-family: 'core-line';
      content: '\e900';
      font-size: initial;
      margin-inline-end: var(--base-unit--ss);
      border-radius: 50%;
    }
  }

  &.expanded {
    margin-bottom: var(--base-unit--ss);

    a:before {
      content: '\e90b';
    }
  }
.txp-option-link {
  position: absolute;
  top: 0;
  right: 0;
}}

