@charset "UTF-8";
.u_debug,
.u_debug-plain {
  outline: 1px solid rgba(192, 192, 192, 0.5);
}
.u_debug *,
.u_debug-plain * {
  outline: 1px dotted rgba(192, 192, 192, 0.5);
}

.u_debug:before, .u_debug:after {
  position: absolute;
  display: block;
  top: 0;
  z-index: 1;
  bottom: 0;
  font-size: xx-small;
}
.u_debug:before {
  content: "mobile";
  left: 380px;
  border-left: var(--border-width) dotted var(--green-500);
  color: var(--green-500);
}
.u_debug:after {
  content: "desktop";
  left: 980px;
  border-left: var(--border-width) dotted var(--yellow-500);
  color: var(--yellow-500);
}
.u_debug__open {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: var(--base-unit);
  text-decoration: none;
  height: var(--base-unit);
}
.u_debug__sibling {
  font-size: xx-small;
  opacity: 0.25;
  background: rgba(192, 192, 192, 0.5);
  padding: var(--base-unit--ss);
}

:root {
  --min-fs: .8125;
  --max-fs: 1;
  --min-vw: 20;
  --max-vw: 108;
  --sans: system-ui, sans-serif;
  --serif: Baskerville, serif;
  --mono: ui-monospace, monospace;
  --font-body: var(--sans);
  --font-input: var(--sans);
  --font-normal: 300;
  --font-heavy: 500;
  --base-line-height: 1.5;
  --type-measure: 72ch;
  --border-width: 1px;
  --base-unit: 1.5rem;
  --base-unit--neg: calc(var(--base-unit) * -1);
  --base-unit--ss: calc(var(--base-unit) / 4);
  --base-unit--s: calc(var(--base-unit) / 2);
  --base-unit--b: calc(var(--base-unit) * 2);
  --clr-text: var(--black);
  --clr-bg: var(--white);
  --clr-brand: var(--yellow-500);
  --clr-border: var(--clr-text);
  --clr-success: var(--green-600);
  --clr-warning: var(--yellow-500);
  --clr-error: var(--red-500);
}
@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: oklch(from var(--white) .9 c h);
    --clr-bg: oklch(from var(--black) .3 c h);
    --clr-brand: oklch(from var(--yellow-500) .6 c h);
  }
}

:root {
  --white: white;
  --black: black;
  --grey-100: hsla(43, 46%, 88%, 1);
  --grey-200: hsla(55, 3%, 73%, 1);
  --grey-300: hsla(70, 2%, 65%, 1);
  --grey-400: hsla(204, 4%, 59%, 1);
  --grey-500: hsla(180, 1%, 58%, 1);
  --grey-600: hsla(212, 4%, 53%, 1);
  --grey-700: hsla(213, 5%, 40%, 1);
  --grey-800: hsla(150, 2%, 37%, 1);
  --grey-900: hsla(33, 6%, 33%, 1);
  --blue-100: hsla(201, 21%, 76%, 1);
  --blue-200: hsla(201, 23%, 73%, 1);
  --blue-300: hsla(207, 33%, 67%, 1);
  --blue-400: hsla(205, 44%, 64%, 1);
  --blue-500: hsla(194, 31%, 54%, 1);
  --blue-600: hsla(220, 38%, 48%, 1);
  --blue-700: hsla(221, 49%, 44%, 1);
  --blue-800: hsla(201, 40%, 40%, 1);
  --blue-900: hsla(227, 37%, 31%, 1);
  --green-100: hsla(147, 13%, 87%, 1);
  --green-200: hsla(147, 19%, 81%, 1);
  --green-300: hsla(104, 16%, 77%, 1);
  --green-400: hsla(84, 38%, 72%, 1);
  --green-500: hsla(84, 37%, 62%, 1);
  --green-600: hsla(89, 29%, 49%, 1);
  --green-700: hsla(149, 37%, 41%, 1);
  --green-800: hsla(149, 26%, 34%, 1);
  --green-900: hsla(122, 28%, 34%, 1);
  --red-100: hsla(6, 39%, 75%, 1);
  --red-200: hsla(12, 41%, 66%, 1);
  --red-300: hsla(14, 67%, 54%, 1);
  --red-400: hsla(9, 61%, 50%, 1);
  --red-500: hsla(5, 50%, 45%, 1);
  --red-600: hsla(359, 47%, 41%, 1);
  --red-700: hsla(353, 42%, 39%, 1);
  --red-800: hsla(347, 44%, 40%, 1);
  --brown-100: hsla(24, 47%, 73%, 1);
  --brown-200: hsla(33, 15%, 67%, 1);
  --brown-300: hsla(24, 20%, 64%, 1);
  --brown-400: hsla(14, 37%, 56%, 1);
  --brown-500: hsla(33, 8%, 53%, 1);
  --brown-600: hsla(12, 38%, 39%, 1);
  --brown-700: hsla(12, 35%, 34%, 1);
  --brown-800: hsla(10, 27%, 32%, 1);
  --brown-900: hsla(17, 11%, 27%, 1);
  --yellow-300: hsla(35, 63%, 78%, 1);
  --yellow-500: hsla(43, 89%, 53%, 1);
  --yellow-700: hsla(52, 55%, 47%, 1);
  --orange-300: hsla(31, 45%, 73%, 1);
  --orange-500: hsla(17, 63%, 63%, 1);
  --orange-700: hsla(29, 55%, 68%, 1);
  --pink-300: hsla(18, 45%, 83%, 1);
  --pink-500: hsla(347, 45%, 75%, 1);
  --pink-700: hsla(358, 34%, 34%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
li,
dl,
dd,
code,
pre {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: var(--base-line-height);
}

ul,
ol {
  margin: 0;
  padding-inline-start: var(--base-unit);
}

dt,
strong,
th {
  font-weight: var(--font-heavy);
}

a {
  color: currentcolor;
  text-decoration: underline;
}

hr {
  border: 0;
  height: var(--border-width);
  background: var(--clr-text);
}

img,
picture {
  max-width: 100%;
  display: inline-block;
}

input,
button,
textarea,
select {
  font: inherit;
  background: transparent;
  border: 0;
}

iframe, video {
  width: 100%;
  border: 0;
}

::selection {
  background-color: var(--clr-brand);
}

pre {
  overflow: auto;
  max-width: var(--type-measure);
}

pre > code {
  -webkit-hyphens: none;
  hyphens: none;
  font-size: smaller;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--sans);
  font-weight: var(--font-normal);
  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;
  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw));
  font-size: clamp(var(--min-fs-rem), var(--min-fs-rem) + var(--slope), var(--max-fs-rem));
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

table {
  width: 100%;
  border-collapse: collapse;
  display: block;
  container-type: inline-size;
  --min-fs: .6875;
  --max-fs: 1;
  --min-vw: 20;
  --max-vw: 60;
  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;
  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw));
}

tr {
  border-bottom: var(--border-width) solid currentcolor;
}

td,
th {
  text-align: start;
  vertical-align: baseline;
  padding: var(--base-unit--ss);
}

@container (max-width: 1280px) {
  th,
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    font-size: clamp(var(--min-fs-rem), var(--min-fs-rem) + var(--slope), var(--max-fs-rem));
  }
}
button,
[type=submit] {
  cursor: pointer;
  border: var(--border-width) solid var(--clr-border);
  color: var(--clr-text);
  padding: var(--base-unit--ss);
}

[type=submit] {
  padding-left: var(--base-unit--s);
  padding-right: var(--base-unit--s);
  text-align: left;
  cursor: pointer;
  background-color: var(--clr-brand);
}

label {
  display: inline-block;
}

input,
textarea {
  font-family: var(--font-input);
  padding: var(--base-unit--ss);
  border: var(--border-width) solid var(--clr-border);
  border-radius: 0;
  color: inherit;
}
@media (max-width: 960px) {
  input,
  textarea {
    padding: calc(var(--base-unit--ss) / 2) var(--base-unit--ss);
  }
}
input:placeholder,
textarea:placeholder {
  font-family: var(--sans);
}
input:focus,
textarea:focus {
  animation: focus 0.9s ease-out forwards;
  outline: calc(var(--border-width) * 2) solid var(--clr-brand);
}

@media (max-width: 640px) {
  input[size="64"],
  input[size="32"],
  textarea[cols="40"] {
    width: 100%;
  }
}
textarea {
  appearance: none;
  width: 100%;
  min-height: calc(var(--base-unit) * 5.5);
  max-height: 75vh;
  padding-top: var(--base-unit--ss);
  padding-bottom: var(--base-unit);
  vertical-align: top;
}
textarea:empty {
  min-height: initial;
}
textarea:focus {
  min-height: calc(var(--base-unit) * 12);
}

select {
  width: max-content;
  appearance: none;
  border: var(--border-width) solid var(--clr-border);
  color: var(--clr-text);
  border-radius: 0;
  padding: var(--base-unit--ss);
  padding-right: var(--base-unit);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--base-unit--ss)) center;
  background-size: 0.75em;
  background-image: url("data:image/svg+xml;base64,ICA8c3ZnIHZpZXdCb3g9IjAgMCAxMyA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBvbHlsaW5lIHN0cm9rZT0iIzAwMDAwMCIgcG9pbnRzPSIwIDAuNjIyNzQxNjk5IDYuMjgxMjUgNi41IDEyLjU2MjUgMC42MjI3NDE2OTkiPjwvcG9seWxpbmU+PC9nPjwvc3ZnPgo=");
}
select:hover {
  border-color: var(--clr-brand);
}
@media (max-width: 960px) {
  select {
    padding: calc(var(--base-unit--ss) / 2) var(--base-unit--ss);
  }
}
@media (prefers-color-scheme: dark) {
  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M4 7l4 4 4-4-1.5-1.5L8 8 5.5 5.5'/%3E%3C/svg%3E");
  }
}

[type=checkbox],
[type=radio] {
  margin: 0;
  accent-color: var(--clr-brand);
}

@keyframes focus {
  from {
    background-color: var(--clr-brand);
  }
  to {
    background-color: var(--clr-bg);
  }
}
:root {
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1rem;
}

.b_typeset h1,
.txp-layout-textbox h1,
.ui-dialog-content h1 {
  font-size: var(--h1);
  line-height: 3.75rem;
  margin-bottom: 1.5rem;
}
.b_typeset h2,
.txp-layout-textbox h2,
.ui-dialog-content h2 {
  font-size: var(--h2);
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.b_typeset h3,
.txp-layout-textbox h3,
.ui-dialog-content h3 {
  font-size: var(--h3);
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}
.b_typeset h4,
.txp-layout-textbox h4,
.ui-dialog-content h4 {
  font-size: var(--h4);
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}
.b_typeset h5,
.txp-layout-textbox h5,
.ui-dialog-content h5 {
  font-size: var(--h5);
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.b_typeset h6,
.txp-layout-textbox h6,
.ui-dialog-content h6 {
  font-size: var(--h6);
  margin-bottom: 1.5rem;
  font-weight: var(--font-heavy);
}
.b_typeset p,
.txp-layout-textbox p,
.ui-dialog-content p {
  max-width: var(--type-measure);
  margin-bottom: var(--base-unit);
}
.b_typeset ul,
.b_typeset ol,
.b_typeset dl,
.txp-layout-textbox ul,
.txp-layout-textbox ol,
.txp-layout-textbox dl,
.ui-dialog-content ul,
.ui-dialog-content ol,
.ui-dialog-content dl {
  margin-bottom: var(--base-unit);
}
.b_typeset ul,
.txp-layout-textbox ul,
.ui-dialog-content ul {
  list-style-position: outside;
  list-style-type: square;
}
.b_typeset ol,
.txp-layout-textbox ol,
.ui-dialog-content ol {
  list-style-position: outside;
}
.b_typeset li,
.txp-layout-textbox li,
.ui-dialog-content li {
  max-width: var(--type-measure);
}
.b_typeset dd,
.txp-layout-textbox dd,
.ui-dialog-content dd {
  margin-inline-start: var(--base-unit);
}
.b_typeset blockquote p,
.txp-layout-textbox blockquote p,
.ui-dialog-content blockquote p {
  margin: var(--base-unit--b) var(--base-unit);
  font-family: var(--serif);
}
.b_typeset blockquote p:before, .b_typeset blockquote p:after,
.txp-layout-textbox blockquote p:before,
.txp-layout-textbox blockquote p:after,
.ui-dialog-content blockquote p:before,
.ui-dialog-content blockquote p:after {
  display: inline-block;
  transform: scale(1.5);
}
.b_typeset blockquote p:before,
.txp-layout-textbox blockquote p:before,
.ui-dialog-content blockquote p:before {
  content: "“";
  margin-inline-end: calc(var(--base-unit--ss) / 2);
}
.b_typeset blockquote p:after,
.txp-layout-textbox blockquote p:after,
.ui-dialog-content blockquote p:after {
  content: "”";
}
.b_typeset hr,
.txp-layout-textbox hr,
.ui-dialog-content hr {
  margin: var(--base-unit--b) 0;
}
.b_typeset p > img,
.txp-layout-textbox p > img,
.ui-dialog-content p > img {
  float: left;
  width: 66%;
  margin-right: var(--base-unit);
  margin-top: var(--base-unit--ss);
}
.b_typeset p:has(> img),
.txp-layout-textbox p:has(> img),
.ui-dialog-content p:has(> img) {
  overflow: auto;
}
.b_typeset figure,
.b_typeset table,
.b_typeset pre,
.txp-layout-textbox figure,
.txp-layout-textbox table,
.txp-layout-textbox pre,
.ui-dialog-content figure,
.ui-dialog-content table,
.ui-dialog-content pre {
  margin-bottom: var(--base-unit);
}
.b_typeset pre,
.txp-layout-textbox pre,
.ui-dialog-content pre {
  font-family: var(--mono);
  padding: var(--base-unit--s) var(--base-unit);
}

summary {
  cursor: pointer;
  margin-bottom: var(--base-unit);
  list-style-type: none;
}
summary:focus {
  outline: none;
}
summary::-webkit-details-marker, summary::marker {
  display: none;
}
summary:before {
  content: "\e900";
  font-family: "core-line";
  margin-inline-end: var(--base-unit--ss);
}

details[open] > summary:before {
  content: "\e909";
}

.txp-header,
.txp-nav, .ui-dialog-titlebar, .ui-dialog-controls, .txp-textarea-options, .txp-details .toggle, .txp-save-zone, .txp-search, .txp-form-field-label, .messageflash, .txp-footer, .prev-next, .nav-tertiary {
  display: flex;
  gap: var(--base-unit--s);
  align-items: baseline;
  flex-wrap: wrap;
}

.ui-helper-hidden {
  display: none;
}

.no-ui-button button {
  border: 0;
  padding: 0;
  text-decoration: underline;
}

@font-face {
  font-family: "core-line";
  src: url("/admin-themes/core/assets/fonts/core-line/fonts/core-line.ttf?7vrldv") format("truetype"), url("/admin-themes/core/assets/fonts/core-line/fonts/core-line.woff?7vrldv") format("woff"), url("/admin-themes/core/assets/fonts/core-line/fonts/core-line.svg?7vrldv#core-line") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ui-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "core-line" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 0;
}
.ui-icon:before {
  font-size: initial;
}

.ui-icon-arrowthickstop-1-s:before,
.ui-icon-add:before,
.ui-icon-plus:before {
  content: "\e900";
}

.ui-icon-alert:before {
  content: "\e901";
}

.ui-icon-check:before {
  content: "\e902";
}

.ui-icon-check2:before {
  content: "\e903";
}

.ui-icon-close:before {
  content: "\e904";
}

.ui-icon-close2:before {
  content: "\e905";
}

.ui-icon-extlink:before {
  content: "\e906";
}

.ui-icon-help:before {
  content: "\e907";
}

.ui-icon-info:before {
  content: "\e908";
}

.ui-icon-arrowthickstop-1-n:before,
.ui-icon-subtract:before {
  content: "\e909";
}

.ui-icon-circ:before {
  content: "\e90b";
}

.ui-icon-txp:before {
  content: "\e90a";
}

.txp-heading {
  font-size: var(--h3);
}

.close,
button.close {
  border: 0;
  padding: 0;
  color: currentcolor;
  position: relative;
}
.close:hover,
button.close:hover {
  background-color: inherit;
}

.txp-actions {
  display: flex;
  gap: var(--base-unit);
}
.txp-actions button {
  border: 0;
  padding: 0;
}
.txp-actions button:hover {
  background-color: var(--clr-bg);
}
.txp-actions .ui-icon {
  display: none;
  margin-inline-end: var(--base-unit);
}

#supporting_content:has(.txp-actions button:hover) .txp-summary a:before {
  border: var(--border-width) solid var(--clr-brand);
  margin: calc(var(--border-width) * -1);
  margin-right: calc(var(--base-unit--ss) + var(--border-width) * -1);
}

.nav-tertiary {
  margin-bottom: var(--base-unit);
}

.navlink-disabled {
  opacity: 0.5;
}

.prev-next {
  gap: var(--base-unit);
}
.prev-next .ui-icon {
  width: auto;
  overflow: auto;
  height: auto;
  margin-inline-end: 0;
}
.prev-next > a,
.prev-next > span {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
}
.prev-next .disabled {
  opacity: 0.5;
}

.txp-footer {
  gap: var(--base-unit);
}
.txp-footer .ui-icon {
  margin-inline: var(--base-unit);
}

.txp-dropdown {
  position: absolute;
  z-index: 1;
  background: var(--clr-bg);
  list-style: none;
}

.messageflash {
  padding: var(--base-unit--s) var(--base-unit);
  font-family: var(--serif);
  overflow: auto;
}
.messageflash strong {
  font-family: var(--sans);
}
.messageflash.success {
  background-color: var(--clr-success);
  color: var(--white);
}
.messageflash.warning {
  background-color: var(--clr-warning);
}
.messageflash.error {
  background-color: var(--clr-error);
  color: var(--white);
}

.txp-form-field {
  max-width: var(--type-measure);
}
.txp-form-field-label {
  justify-content: space-between;
  margin-bottom: var(--base-unit--s);
}

.textfilter-help {
  margin-inline-end: var(--base-unit);
}

.txp-search {
  column-gap: var(--base-unit);
}
.txp-search-buttons {
  display: contents;
}
.txp-search-options {
  text-align: start;
}
.txp-search details {
  width: max-content;
}
.txp-search summary {
  margin-bottom: 0;
}
.txp-search .txp-dropdown {
  padding-left: 0;
}
.txp-search .txp-dropdown input {
  margin-inline-end: var(--base-unit--s);
}

.txp-save-zone {
  gap: var(--base-unit);
}
.txp-save-zone .ui-icon {
  display: none;
}
.txp-save-zone .txp-actions {
  display: contents;
}

.txp-details .hidden {
  display: none;
}
.txp-details:has(.expanded) {
  margin-bottom: var(--base-unit--b);
}
.txp-details .toggle {
  gap: var(--base-unit) var(--base-unit--s);
}
.txp-details .toggle > div {
  position: relative;
}
.txp-details [type=checkbox] {
  margin-inline-end: var(--base-unit--ss);
}
.txp-details .date {
  margin-bottom: var(--base-unit);
}
.txp-details .time,
.txp-details .comment-annotate {
  margin-bottom: var(--base-unit--s);
}
.txp-details .reset-time {
  display: flex;
  text-wrap: balance;
}

.txp-summary a {
  text-decoration: none;
}
.txp-summary a:before {
  font-family: "core-line";
  content: "\e900";
  font-size: initial;
  margin-inline-end: var(--base-unit--ss);
  border-radius: 50%;
}
.txp-summary.expanded {
  margin-bottom: var(--base-unit--ss);
}
.txp-summary.expanded a:before {
  content: "\e909";
}

.txp-option-link {
  position: absolute;
  top: 0;
  right: 0;
}

#txp-image-group-content {
  z-index: 0;
  position: relative;
}
#txp-image-group-content * > div {
  margin-top: var(--base-unit);
}
#txp-image-group-content input {
  width: 100%;
}
#txp-image-group-content button {
  border: 0;
}
#txp-image-group-content button:hover {
  background: none;
}
#txp-image-group-content button:hover#article-file-empty {
  color: var(--clr-error);
}
#txp-image-group-content button:hover#article-file-add {
  color: var(--clr-success);
}
#txp-image-group-content .secondary-text {
  width: 100%;
  padding: var(--base-unit);
  text-align: center;
}
#txp-image-group-content .secondary-text:hover {
  color: var(--clr-brand);
  cursor: pointer;
}

.com-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: var(--base-unit--s);
  align-items: start;
}
.com-image-container p {
  position: relative;
}
.com-image-container img {
  height: auto;
}
.com-image-container .destroy {
  position: absolute;
  right: var(--base-unit--ss);
  top: var(--base-unit--ss);
  color: var(--clr-bg);
}
@media (prefers-color-scheme: dark) {
  .com-image-container .destroy {
    color: var(--clr-text);
  }
}
.com-image-container .destroy:hover {
  color: var(--clr-warning);
}

.txp-dialog {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border: calc(var(--border-width) * 2) solid var(--clr-text);
  color: var(--clr-text);
  background: var(--clr-bg);
  resize: both;
  overflow: auto;
}
.txp-dialog[open] {
  display: initial;
}

.ui-dialog-titlebar {
  justify-content: space-between;
  padding: var(--base-unit) 0;
  cursor: move;
}

.ui-dialog-content {
  padding-top: var(--base-unit);
  border-top: var(--border-width) solid var(--clr-border);
}

.ui-dialog-title {
  font-size: var(--h4);
}

.ui-dialog-controls {
  gap: var(--base-unit);
}

#view_modes details {
  position: relative;
  margin-top: var(--base-unit);
}
#view_modes details > div {
  padding: var(--base-unit);
}
#view_modes details[open] {
  border: var(--border-width) solid var(--clr-border);
}
#view_modes details[open]#page-preview iframe {
  width: 100%;
  aspect-ratio: 1/1;
}

code.removed {
  opacity: 0.75;
  text-decoration-line: line-through;
}

code.-comment::before {
  content: "<!--";
}

code.-comment::after {
  content: "-->";
}

.txp-nav-toggle {
  display: none;
}

.txp-skip-link {
  position: absolute;
  display: block;
  transform: translateY(-100vh);
}

.txp-header,
.txp-nav {
  gap: var(--base-unit--ss) var(--base-unit);
}

.txp-header a {
  text-decoration: none;
}
.txp-header a:hover {
  text-decoration: underline;
}

.data-dropdown {
  display: contents;
  list-style: none;
}
.data-dropdown .selected > a {
  font-weight: var(--font-heavy);
}

.dropdown {
  position: relative;
}
.dropdown > a:hover {
  text-decoration: none;
}
.dropdown ul {
  list-style: none;
  position: absolute;
  display: none;
  padding: var(--base-unit--s) var(--base-unit);
  margin-left: var(--base-unit--neg);
  width: max-content;
  background: var(--clr-bg);
}
.dropdown:hover ul, .dropdown:focus-within ul {
  display: block;
  z-index: 1;
}

.txp-view-site-name a:after {
  content: "\e906";
  font-family: "core-line";
}

.txp-body,
.txp-body > form,
.txp-layout,
.txp-layout-4col-3span,
#main_content,
.explode,
.txp-layout-4col-alt {
  display: contents;
}

.txp-header {
  margin-top: var(--base-unit--s);
  padding-bottom: var(--base-unit--s);
  border-bottom: var(--border-width) solid var(--clr-text);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "txp  logout" "sitename sitename" "nav nav";
}
@media (min-width: 720px) {
  .txp-header {
    min-height: var(--vmeasure);
    position: sticky;
    top: calc(var(--base-unit--b) - var(--vmeasure));
    background-color: var(--clr-bg);
    grid-template-columns: 36ch 1fr auto;
    align-content: end;
    grid-template-areas: "txp  logout logout" "nav nav sitename";
    gap: var(--base-unit);
  }
  .txp-header h1 {
    grid-area: txp;
  }
}

.txp-nav {
  gap: var(--base-unit--s);
}
@media (min-width: 720px) {
  .txp-nav {
    gap: var(--base-unit);
  }
}

.dropdown ul {
  padding: var(--base-unit--s) 0;
  margin-left: 0;
}
.dropdown ul:before {
  margin-top: var(--border-width);
  content: "";
  position: absolute;
  border-left: var(--border-width) solid var(--clr-text);
  height: calc(100% - var(--base-unit));
}
.dropdown ul li {
  margin-inline-start: var(--base-unit--s);
}

.txp-view-site {
  grid-area: sitename;
}

.txp-nav {
  grid-area: nav;
}

.txp-logout {
  grid-area: logout;
  justify-self: end;
}

@media (orientation: portrait) {
  body {
    display: grid;
    grid-gap: var(--base-unit);
    grid-template-columns: 1fr 1fr;
    align-content: start;
    padding: 0 var(--base-unit--s);
    grid-template-areas: "header header" "heading message" "save save" "support support" "pane pane" "custom custom" "image image" ". ." "recent extras" "footer footer";
  }
}
@media (orientation: portrait) and (min-width: 480px) {
  body {
    gap: var(--base-unit);
  }
}
@media (orientation: landscape) {
  body {
    display: grid;
    gap: var(--base-unit);
    grid-template-columns: 14ch 1fr;
    grid-template-areas: "header message" "header heading" "header support" "header pane" "header footer";
    padding-inline-end: var(--base-unit);
    width: 100%;
  }
}
@media (orientation: landscape) and (min-width: 720px) {
  body {
    grid-template-columns: 14ch auto 1fr;
    grid-template-areas: "header message message" "header heading heading" "header support pane" "header footer footer";
    grid-template-rows: auto 15vh auto;
  }
}
@media (orientation: landscape) and (min-width: 960px) {
  body {
    grid-template-columns: 14ch 18ch 1fr 1fr;
    grid-template-areas: "header message message message" "header heading heading heading" "header support title author" "header support body excerpt" "header support . ." "header footer footer footer";
  }
}
@media (orientation: landscape) and (min-width: 1280px) {
  body {
    grid-template-columns: 14ch 24ch 1fr 1fr;
    gap: var(--base-unit) var(--base-unit--b);
  }
}

.txp-header {
  grid-area: header;
}

.messagepane {
  grid-area: message;
}

.txp-heading {
  grid-area: heading;
}

.txp-footer {
  grid-area: footer;
  margin-top: 15vh;
  padding: var(--base-unit) 0;
  border-top: var(--border-width) solid var(--clr-text);
}

.hoz-scroll, #supporting_content {
  display: grid;
  width: calc(100% + var(--base-unit));
  margin-left: calc(var(--base-unit--s) * -1);
  grid-gap: calc(var(--base-unit--s) / 2);
  grid-template-columns: var(--base-unit--s);
  grid-auto-flow: column;
  grid-auto-columns: calc(45% - var(--base-unit--s) * 2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding: var(--base-unit--s) 0;
  background-color: var(--clr-brand);
}
.hoz-scroll input, #supporting_content input,
.hoz-scroll select,
#supporting_content select,
.hoz-scroll textarea,
#supporting_content textarea {
  background-color: var(--clr-bg);
}
.hoz-scroll:before, #supporting_content:before, .hoz-scroll:after, #supporting_content:after {
  content: "";
  width: var(--base-unit--s);
}

.txp-actions {
  display: none;
}

#supporting_content {
  grid-area: support;
}

.messagepane > * {
  display: none;
}

#pane-text {
  grid-area: pane;
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
  text-wrap: balance;
}

.body {
  grid-area: body;
}

.excerpt {
  grid-area: excerpt;
}

.txp-layout-4col-alt {
  grid-area: support;
}

.txp-save-zone {
  grid-area: save;
}

#txp-image-group {
  grid-area: image;
}

#txp-custom-field-group {
  grid-area: custom;
}

#txp-recent-group {
  grid-area: recent;
}

.nav-tertiary {
  grid-area: extras;
}

/*# sourceMappingURL=jekyll.css.map */
