$break1: 720px;

.txp-header {
  margin-top: var(--base-unit--s);
  padding-bottom: var(--base-unit--s);
  border-bottom: var(--border-width) solid var(--clr-text);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'txp  logout'
    'sitename sitename'
    'nav nav'
  ;

  @media (min-width: $break1) {
  min-height: var(--vmeasure);
    position: sticky;
    z-index: 10;
    top: calc(var(--base-unit--b) - var(--vmeasure));
    background-color: var(--clr-bg);
    grid-template-columns: 36ch 1fr auto;
    align-content: end;
    grid-template-areas: 'txp  logout logout'
      'nav nav sitename'
    ;
    gap: var(--base-unit);

    h1 {
      grid-area: txp;
    }
  }
}

.txp-nav {
  gap: var(--base-unit--s);

  @media (min-width: $break1) {
    gap: var(--base-unit);
  }
}

.dropdown ul {
  padding: var(--base-unit--s) 0;
  margin-left: 0;

  &:before {
    margin-top: var(--border-width);
    content: '';
    position: absolute;
    border-left: var(--border-width) solid var(--clr-text);
    height: calc(100% - var(--base-unit));
  }

  li {
    margin-inline-start: var(--base-unit--s);
  }
}

// .dropdown {
//
//   &:hover ul,
//   &:focus-within ul {
//     background-color: var(--clr-brand);
//   }
// }


.txp-view-site-name {
  grid-area: sitename;

}

.txp-nav {
  grid-area: nav;
}

.txp-logout {
  grid-area: logout;
  justify-self: end;
}