@use "../../../../core/assets/scss/2-atoms/_beam.scss";
$break1: 640px;
$break2: 960px;
$break3: 1280px;
$break4: 1920px;

.txp-body {
  gap: var(--base-unit);
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'heading message'
    'save save'
    'title title'
    'author author'
    'excerpt excerpt'
    'body body'
    'actions actions'
    '. .'
    '. .'
    '. .'
    'custom custom'
    'image image'
  ;

  @media (min-width: $break1) {
    // gap: var(--base-unit) var(--base-unit--b);
    grid-template-columns: 24ch 1fr;
    grid-template-areas: 'heading message'
      'supporting author'
      'supporting title'
      'supporting excerpt'
      'supporting body'
      'supporting .'
      'supporting .'
    ;
  }

  @media (min-width: $break2) {
    gap: var(--base-unit) var(--base-unit--b);
    grid-template-columns: 36ch 1fr;
  }

  @media (min-width: $break3) {
    gap: var(--base-unit--b);
    grid-template-columns: 36ch 1fr 1fr;
    grid-template-areas: 'heading message message'
      'supporting title author'
      'supporting body excerpt'
      'supporting . .'
      'supporting . .'
    ;
    align-content: start;
  }

  @media (min-width: $break4) {}
}

// area names
.messagepane {
  grid-area: message;
  align-self: end;
}

.txp-heading {
  grid-area: heading;
  margin-top: var(--base-unit);
  // min-height: var(--vmeasure);
  //   display: flex;
  //   flex-direction: column;
  //
  //   justify-content: end;
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
  text-wrap: balance;
  min-height: var(--base-unit--b);
  display: flex;
  flex-wrap: flex;
  align-items: center;

  @media (min-width: $break3) {
    min-height: calc(var(--base-unit) *3);
    align-items: end;
  }

  small {
    font-size: inherit;
  }
}

.body {
  grid-area: body;
}

.excerpt {
  grid-area: excerpt;
}

// .txp-dialog{
//   grid-area: dialog;
// }
@media (min-width: $break1) {
  .txp-layout-4col-alt {
    display: flex;
    flex-direction: column;
    gap: var(--base-unit);
    grid-area: supporting;
    //gap: var(--base-unit);
  }
}

// separate this out to a core partial
// #supporting_content {
//   @media (max-width: $break1) {
//     >*:not(.article-details) {
//       display: none;
//     }
//
//     &.active {
//       position: absolute;
//       left: 0;
//       right: 0;
//       background-color: var(--clr-brand);
//       overflow: auto;
//       border: var(--border-width) solid var(--clr-text);
//       padding: var(--base-unit) var(--base-unit--s);
//
//       >* {
//         display: block;
//       }
//     }
//   }
//
//   @media (min-width: $break1) {
//     display: contents;
//   }
// }
// .article-details {
//   cursor: pointer;
//   margin-bottom: var(--base-unit);
//
//   .active & {
//     .ui-icon:before {
//       content: '\e909';
//     }
//   }
//
//   @media (min-width: $break1) {
//     display: none;
//   }
// }
.txp-save-zone {
  grid-area: save;
  //margin-bottom: var(--base-unit);
  position: sticky;
  top: 0; // calc(var(--base-unit) * 2.5);
  background-color: var(--clr-bg);
  padding: var(--base-unit--ss) 0;
  border-bottom: var(--border-width) solid var(--clr-border);

  @media (min-width: 720px) {
    top: var(--base-unit--b);
  }
}

.txp-form-field-label label {
  // font-size: var(--h5);
  // > select,
  // > input {
  //   font-size: 1rem;
  // }
}

.txp-actions {
  grid-area: actions;
}

// #txp-write-sort-group {
//  grid-area: sort;
// }
//
// #txp-dates-group {
//   grid-area: dates;
// }
//
// #txp-categories-group {
//   grid-area: cats;
// }
//
// #txp-meta-group {
//   grid-area: meta;
// }
// #txp-comments-group {
//   grid-area: comments;
// }
#txp-image-group {
  grid-area: image;
}

#txp-custom-field-group {
  grid-area: custom;
}

//
// #txp-recent-group {
//   grid-area: recent;
// }
//
.nav-tertiary {
  //grid-area: nav;
}

.title input {
  width: 100%;
  max-width: var(--type-measure);
}