$break1: 640px;
$break2: 960px;

body {
  --vmeasure: 15vh;
  padding: 0 var(--base-unit--s);

  @media (min-width: $break1) {
    padding: 0 var(--base-unit);
  }
  @media (min-width: $break2) {
    padding: 0 var(--base-unit--b);
  }

}

.txp-footer {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-block-start: var(--base-unit);
  padding: var(--base-unit) 0;
  border-top: var(--border-width) solid var(--clr-text);
}