@use "../../../../core/assets/scss/0-settings/mixins";
$break1: 640px;
$break2: 960px;
$break3: 1280px;
$break4: 1780px;
$break5: 2400px;

body {
  --vmeasure: 15vh;
  padding: 0 var(--base-unit--s);

  @media (min-width: $break1) {
    padding: 0 var(--base-unit);
  }

  @media (min-width: $break2) {
    padding: 0 var(--base-unit--b);
  }
}

.txp-footer {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-block-start: var(--base-unit);
  padding: var(--base-unit) 0;
  border-top: var(--border-width) solid var(--clr-text);
}

.txp-listtables {
  padding: var(--base-unit--b) 0;
  grid-column-start: 1;
  grid-column-end: -1;
//   thead {
//     position: sticky;
//     top: 0;//var(--base-unit--b);
//
//   }
}
